/.idea/
/testsuite/wildfly-microprofile-reactive-messaging-kafka/target/
/testsuite/wildfly-microprofile-reactive-messaging-kafka/tmp/
/testsuite/wildfly-microprofile-reactive-messaging-kafka/log/
/style-config/target/
/target/
/test.properties
/core/target/
/testsuite/target
